* {
    margin: 0;
    font-family: "Quicksand";
}

body {
    background-color: #d7fff1;
    box-sizing: border-box;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    height: 200px;
}

header img {
    width: 300px;
    height: 120px;
    /* margin-top: 20px; */
    margin-bottom: 0;
    object-fit: cover;
    transition: all 1s ease;
    /* border: 1px black solid; */
}

.inputField {
    height: 40px;
    width: 200px;
    margin: 20px;
    font-size: 30px;
    border: none;
    border-radius: 10px;
    text-align: center;
}

.logo {
    font-family: "Pacifico";
    font-size: 60px;
    transform: translateY(-40%);
    color: #13505b;
    transition: all 1s ease;
    text-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.logo:hover {
    transform: translateY(-30%);
}
/* SEARCH ARTIST component */

.searchResults {
    width: 300px;
    display: flex;
    padding: 10px;
    margin: 10px;
    object-fit: contain;
    justify-content: center;
    align-items: center;
}
.searchResults:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

.searchResults img {
    object-fit: cover;
    align-self: center;
    width: 200px;
    height: 100px;
}

/* >>>>>>>>>>> */

.images {
    margin: 10px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.images:hover {
    opacity: 80%;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerHorizontal {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.songImage {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    margin: 20px;
    margin-top: none;
}

/* COMPILER */
.gridContainer {
    align-items: center;
    justify-content: center;
    display: flex;
}

.gridImage {
    object-fit: cover;
    width: 800px;
    height: 400px;
    margin: 20px;
    /* transform: translateY(-10%); */
    border-radius: 10px;
    /* grid-area: 1 / 3 / 2 / 5; */
}

.gridLyrics {
    background-color: grey;
    /* grid-area: 1 / 5 / 2 / 6; */
}

.gridFonts {
    background-color: grey;
    /* grid-area: 1 / 2 / 2 / 3; */
}

.lyrics {
    font-size: 1.5em;
}
/* //////// */
