* {
    margin: 0;
    font-family: "Quicksand";
}

body {
    background-color: #d7fff1;
    box-sizing: border-box;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    height: 200px;
}

header img {
    width: 300px;
    height: 120px;
    /* margin-top: 20px; */
    margin-bottom: 0;
    object-fit: cover;
    transition: all 1s ease;
    /* border: 1px black solid; */
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
}
a:visited {
    color: black;
}

.inputField {
    height: 40px;
    width: 200px;
    margin: 20px;
    font-size: 30px;
    border: none;
    border-bottom: 1px #13505b solid;
    background-color: #d7fff1;
    /* border-radius: 10px; */
    text-align: center;
}

.logo {
    font-family: "Pacifico";
    font-size: 60px;
    transform: translateY(-40%);
    color: #13505b;
    transition: all 1s ease;
    text-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.searchH1 {
    font-family: "Pacifico";
    font-size: 40px;
    /* margin-bottom: 30px; */
    color: #0c7489;
    transform: translateY(-70%);
    transition: all 1s ease;
    text-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
        rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.searchH1:hover {
    transform: translateY(-60%);
}

.logo:hover {
    transform: translateY(-30%);
}
/* SEARCH ARTIST component */

.searchResults {
    display: flex;
    padding: 10px;
    margin: 10px;
    object-fit: contain;
    justify-content: center;
    align-items: center;
}
.searchResults:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

.searchResults img {
    object-fit: cover;
    align-self: center;
    width: 200px;
    height: 100px;
}

/* >>>>>>>>>>> */

.images {
    margin: 10px;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.images:hover {
    opacity: 80%;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerHorizontal {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.songImage {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    margin: 20px;
    margin-top: none;
}

/* COMPILER */
.gridContainer {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.gridLyrics {
    background-color: grey;
    z-index: 1;
    color: white;
}

.imageWrapper {
    position: relative;
    width: 510px;
    height: 510px;
    margin: 20px;
}

.imageWrapper img {
    filter: grayscale(100%);
    object-fit: cover;
    width: 500px;
    height: 500px;
    /* margin: 20px; */
    border-radius: 10px;
    /* display: block; */
    border: 10px white solid;
    background-color: red;
}

.imageWrapper p {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    text-align: center;
    color: white;
    font-size: 40px;
    /* width: 590px; */
    /* padding: 10px; */
}

/* //////// */

.fontPickerContainer {
    width: 400px;
    position: fixed;
    left: 0;
    top: 0;
}

.recentContainer {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 500px;
    margin: 10px;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.recentSearchContainer {
    padding: 5px;
    /* cursor: url(./public/gummy-cassette.svg), auto; */
    margin: 10px;
}

.recentSearchContainer:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

.recentLyrics {
    font-style: italic;
    text-align: left;
    /* font-size: 20 */
}

.recentArtist {
    text-align: right;
    font-size: 10px;
}

.takeItAway {
    width: 200px;
    height: 30px;
    margin: 10px;
}

.recentSharesH1 {
    color: #D7FFF1;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 2px 10px 8px rgba(215,255,241,0);
}

.renderImage:hover {
    transform: scale(1.05);
    transition: 1s ease;
    cursor: pointer;
}
/* Font picker:
font-family: 'Abril Fatface', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Londrina Solid', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Quicksand', sans-serif;
font-family: 'Zilla Slab Highlight', cursive; */